* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  font: 20px/150% 'Noto Sans', 'Liberation Sans', 'Helvetica', 'Lucida Sans', sans-serif;
  background: #ccc;
  color: #777;
}

body {
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  color: #999;
  text-decoration: none;
}

a:hover {
  color: #777;
}

.app-container {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
}

.app-container header {
  width: 100%;
  display: block;
  background: #444;
  height: 2.5rem;
}

.app-container header .menu i {
  cursor: pointer;
  color: #888;
  font-size: 1.5rem;
  padding-top: .2rem;
  outline: none;
}

.app-container header .menu:focus {
  pointer-events: none;
  outline: none;
}

.app-container header .menu:focus i:before {
  content: "\F136";
}

.app-container header .menu:focus + nav {
  height: 4rem;
}

.app-container header .menu:focus ~ .meme > * {
  margin-top: 3.5rem;
}

.app-container header nav {
  display: block;
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.4s ease;
  transition: height 0.4s ease;
  padding: 0;
  background: #444;
}

.app-container header nav a,
.app-container header nav .logo {
  display: inline-block;
  font-size: 1rem;
  position: relative;
  vertical-align: bottom;
  margin-top: 1rem;
}

.app-container header nav a + *,
.app-container header nav .logo + * {
  margin-left: 1rem;
}

.app-container header nav .logo {
  font-size: 1.5rem;
}

.app-container main {
  max-width: 32rem;
  margin: 4rem auto 0 auto;
}

.app-container main h1 {
  color: #555;
}

.app-container footer p {
  color: #aaa;
  font-size: .75rem;
  margin-top: 2rem;
}

.meme > * {
  width: 30vw;
  height: 1.5rem;
  background: transparent;
  border-left: 10vw solid transparent;
  border-right: 20vw solid transparent;
  border-top: 0px solid #ccc;
  border-bottom: .5rem solid #ccc;
  position: absolute;
  top: 1rem;
  left: -30vw;
  -webkit-animation: meme 3.872s infinite;
          animation: meme 3.872s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  pointer-events: none;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.meme > *:nth-of-type(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.meme > *:nth-of-type(2) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.meme > *:nth-of-type(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.meme > *:nth-of-type(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.meme > *:nth-of-type(5) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.meme > *:nth-of-type(6) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes meme {
  0% {
    left: -30vw;
  }

  50% {
    left: 100%;
  }

  100% {
    left: -30vw;
  }
}

@keyframes meme {
  0% {
    left: -30vw;
  }

  50% {
    left: 100%;
  }

  100% {
    left: -30vw;
  }
}