* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  font: 20px/150% 'Noto Sans', 'Liberation Sans', 'Helvetica', 'Lucida Sans', sans-serif;
  background: #ccc;
  color: #777;
}

body {
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

a {
  color: #999;
  text-decoration: none;
}

a:hover {
  color: #777;
}

.app-container {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
}

.app-container header {
  width: 100%;
  display: block;
  background: #444;
}

.app-container header nav {
  display: block;
  padding-top: 2rem;
  padding-bottom: .5rem;
}

.app-container header nav a,
.app-container header nav .logo {
  display: inline-block;
  font-size: 1rem;
  vertical-align: bottom;
}

.app-container header nav a + *,
.app-container header nav .logo + * {
  margin-left: 1rem;
}

.app-container main {
  max-width: 32rem;
  margin: 4rem auto 0 auto;
}

.app-container main h1 {
  color: #555;
}

.app-container footer p {
  color: #aaa;
  font-size: .75rem;
  margin-top: 2rem;
}