*{
    // outline:1px solid rgba(255,0,51,0.2);
    box-sizing:border-box;
}
html{
    padding:0;
    margin:0;
    font:20px/150% 'Noto Sans', 'Liberation Sans', 'Helvetica', 'Lucida Sans', sans-serif;
    background:#ccc;
    color:#777;
}
body{
    margin:0;
    position:absolute;
    height:100%;
    width:100%;
    left:0;
    top:0;
}
a{
    color:#999;
    text-decoration:none;
    &:hover{
        color:#777
    }
}

.app-container{
    position:relative;
    height:100%;
    width:100%;
    text-align:center;
    header{
        width:100%;
        display:block;
        background:#444;
        .menu{
            i{
                cursor:pointer;
                color:#888;
            }
            &:focus{
                i:before{
                    content:"\f136";
                }
                pointer-events:none;
                &+nav{
                    height:4rem;
                }
            }
        }
        nav{
            display:block;
            height:1px;
            overflow:hidden;
            transition:height 0.4s ease;
            padding:0;
            background:#333;
            a,.logo{
                display:inline-block;
                font-size:1rem;
                position:relative;
                vertical-align:bottom;
                margin-top:1.5rem;
                &+*{
                    margin-left:1rem;
                }
            }
            .logo{
                font-size:1.5rem;
            }
        }
    }
    main{
        max-width:32rem;
        margin:4rem auto 0 auto;
        p{

        }
        h1{
            color:#555;
        }
    }
    footer{
        p{
            color:#aaa;
            font-size:.75rem;
            margin-top:2rem;
        }
    }
}