*{
    // outline:1px solid rgba(255,0,51,0.2);
    box-sizing:border-box;
}
html{
    padding:0;
    margin:0;
    font:20px/150% 'Noto Sans', 'Liberation Sans', 'Helvetica', 'Lucida Sans', sans-serif;
    background:#ccc;
    color:#777;
}
body{
    margin:0;
    position:absolute;
    height:100%;
    width:100%;
    left:0;
    top:0;
}
a{
    color:#999;
    text-decoration:none;
    &:hover{
        color:#777
    }
}

.app-container{
    position:relative;
    height:100%;
    width:100%;
    text-align:center;
    header{
        width:100%;
        display:block;
        background:#444;
        nav{
            display:block;
            padding-top:2rem;
            padding-bottom:.5rem;
            a,.logo{
                display:inline-block;
                font-size:1rem;
                vertical-align:bottom;
                &+*{
                    margin-left:1rem;
                }
            }
        }
    }
    main{
        max-width:32rem;
        margin:4rem auto 0 auto;
        p{

        }
        h1{
            color:#555;
        }
    }
    footer{
        p{
            color:#aaa;
            font-size:.75rem;
            margin-top:2rem;
        }
    }
}