*{
    outline:1px solid rgba(255,0,51,0.2);
    box-sizing:border-box;
}
html{
    padding:0;
    margin:0;
    font:20px/150% 'Noto Sans', 'Liberation Sans', 'Helvetica', 'Lucida Sans', sans-serif;
    background:#ccc;
    color:#777;
}
body{
    margin:0;
    position:absolute;
    height:100vh;
    width:100vw;
}
a{
    color:#999;
    &:hover{
        color:#777
    }
}

.app-container{
    position:relative;
    height:100%;
    width:100%;
    text-align:center;
    header{
        width:100%;
        display:block;
        nav{
            display:block;
            padding-top:4vmin;
            a,.logo{
                display:inline-block;
                font-size:3vmin;
                vertical-align:bottom;
                &+*{
                    margin-left:2vmin;
                }
            }
        }
    }
    main{
        p{
            font-size:5vmin;
            width:100vmin;
            margin:6vmin auto;
            line-height:6vmin
        }
    }
}